html {
  font-family: 'kumbh sans';
}
.accordion {
  background-color: rgb(252, 15, 173);
  color: rgb(234, 247, 52);
  font-weight: 400;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
  font-weight: 400;
}

.panel {
  padding: 0 18px;
  background-color: white;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.body {
  background-color: violet;
  font-family: "kumbh sans";
  font-weight: 700;git
  text-align: center;
  font-size: 2em;
}
